:root{
    --button-color: #F4DFB6;
    --heading-text:"Playfair Display",
        serif;
    --sub-heading-text:"Poppins",
        sans-serif;
    --branding-color: #C08E81;
}
body{
    background: var(--branding-color);
}
.heading{
    margin-top: 70px;
    padding:15px 30px;
    
}
.heading h1{
    font-size: 96px;
    font-family: var(--heading-text);
    font-weight: bold;
}
.heading h2{
    font-family: var(--sub-heading-text);
    font-weight: bold;
}
.btn{
    background-color: var(--button-color);
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
}
.personal-img img{
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.about-section p{
    border: 1px solid #F4DFB6;
    line-height: 1.5;
}


@media (max-width:600px){
    .heading h1{
        font-size: 50px;
    }
    .heading h2{
        font-size: 25px;
    }
    .text-center{
        text-align: center;
    }
    .mt-5 {
        margin-top: 10px;
    }

    .ms-5,
    .ms-3 {
        margin-left: 0;
    }

    .me-3 {
        margin-right: 0;
    }
}


@media (max-width: 900px) {
    .img-fluid {
        max-width: 80%;
        height: auto;
       
    }
    .btn {
        font-size: 16px;
        padding: 10px 18px;
       
    }
    .text-center{
        text-align: center;
    }

   
}

